.app {
    background-image: url("../imgs/bg_sky.png");
    background-size: cover;
    box-shadow: -40px 60px 150px 0px #3B267BB2;
}

.app-content {
    color: white;
    text-align: center;

    font-family: var(--font-family-display);

    margin-top: 120px;

    z-index: 1000;
    position: relative;
}

.app-location {
    /*font-size: 34px;*/
    font-size: 2.125rem;
    font-weight: 400;

    word-break: break-word;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.app-temperature {
    /*font-size: 96px;*/
    font-size: 6rem;

    font-weight: 200;
}

.house {
    width: 100%;
    bottom: 0;
    position: absolute;
    margin-bottom: -20px;

    aspect-ratio: auto 2.16 / 1;
    z-index: 500;
}