.app {
    background-image: url("../imgs/bg_sky.png");
    background-size: cover;
}

.app-content {
    color: white;
    text-align: center;
    font-family: sans-serif;

    margin-top: 120px;

    z-index: 1000;
    position: relative;
}

.app-location {
    font-size: 34px;
}

.app-temperature {
    font-size: 96px;

}

.house {
    width: 100%;
    bottom: 0;
    position: absolute;
    margin-bottom: -20px;

    aspect-ratio: auto 2.16 / 1;
    z-index: 500;
}